body{
    /* background-color: black; */
}
*{
    list-style: none; /*list 점 제거*/
    text-decoration: none; /*밑줄 제거*/
    border-collapse: collapse; /*table에 2중선 제거*/
    margin: 0px; /*기본 마진 패딩값 제거*/
    padding: 0px;
    font-family: 'Noto Sans KR', sans-serif;
}
h1{
    font-size: 48px;
    font-weight: lighter;
    color: white;
}
.contents1{
    font-size: 28px;
    font-weight: lighter;
    color: white;
    text-align: center;
}
.contents2{
    font-size: 15px;
    font-weight: 100px;
    color: white;
}
.contents1_bold{
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.result{
    font-size: 20px;
    color: white;
}
.intro_bg{
    background-image: url(/img/bmw2.jpg);
    width: 100%;
    height: 718px;
    background-size: cover; /*이미지를 화면에 맞게 근데사진이 반복되있음*/
    background-repeat: no-repeat; /*반복된걸 없애줌*/
    background-position: center; /*사진이 정중앙 잡힘*/
}
.header{
    position: fixed; /*상단 바 고정*/
    display: flex; /*수평요소*/
    width: 1910px;
    height: 86px;
    margin: auto;
    margin-top: -21px;
    /* background: linear-gradient(black, #ccc); */
    background: rgb(0, 0, 0, 0.5);
}
.logo {
    margin-left: 40px;
    margin-right: 30px;
    margin-top: 15px;
}
.searchArea{
    width: 300px;
    height: 40px;
    background: rgb(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top: 24px;
}
.searchArea > form > input{
    border: none;
    width: 230px;
    height: 40px;
    background: rgb(0, 0, 0, 0);
    padding: 20px;
    color: white;
}
.searchArea > form > span{
    width: 50px;
    color: white;
}
.nav{
    display: flex;
    justify-content: flex-end; /*아이템들을끝점으로 정렬*/
    line-height: 86px;
    width: 980px;
    margin-left: 300px;
}
.nav > li{
    margin-left: 84px;
}
.nav > li > a{
    color: white;
}
.amount{
    position: relative;/*요소를 원래 위치에서 벗어나게 배치가능*/
    top: -66px;
    background: white;
    width: 1400px;
    display: flex;
    margin: auto;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);/*(좌우조절,길이,연함정도)*/
    float: calc();
}
.amount > li{
    flex: 1; /*부모가 flex 일떄 부모 크기에 따라 일정비율로 나눠짐*/
    background: rgb(43, 43, 43);
    height: 132px;
}
.amount > li > div{
    text-align: center;
    height: 57px;
    margin-top: 37px;
}
.amount >li:not(:last-child) > div{ /*★li안에div안에 마지막꺼 제외하고 생성★*/
    border-right: 1px solid gray;
}
.intro_text{
    width: 100%;
    margin: 231px auto 231px auto; /*상 우 하 좌*/
    text-align: center;
}
.intro_text > h1, .intro_text > h4{
    color: white;
}

/*main_text0*/
.main_text0{
    margin-top: -132px;
    width: 100%;
    height: 800px;
    background: rgb(14, 14, 14);
}
.main_text0 > h1{
    padding-top: 150px;
    text-align: center;
    margin-bottom: 50px;
}
.main_text0 > .contents1{
    width: 900px;
    margin-left: 500px;
}

.icons{
    display: flex;
    width: 1280px;
    height: 302px;
    margin: auto;
}
.icons > li{
    flex: 1;
    background:rgb(43, 43, 43); ;
    margin-top: 49px;
    height: 302px;
    text-align: center;
}
.icon > li > .icon_img{
    margin-top: 36px;
}
.imgcon{
    margin-top: 10px;
    width: 250px;
}
.icons > li:not(:last-child){
    margin-right: 20px;
}
.icons .contents2 {
    margin: 10px 15px;
    width:180px
    text-align : center;
}
.more{
    width: 100px;
    height: 30px;
    background-color: rgb(73, 73, 73);
    transition: 0.5s;
    margin:  auto;
    font-size: 12px;
    line-height: 30px; /*이걸로 버튼 가운데 둠*/
}
.more1{
    width: 100px;
    height: 30px;
    background-color: rgb(73, 73, 73);
    transition: 0.5s;
    margin: 33px auto;
    font-size: 12px;
    line-height: 30px; /*이걸로 버튼 가운데 둠*/
}
.more:hover{
    background-color: rgb(156, 156, 156);
}
.more1:hover{
    background-color: rgb(156, 156, 156);
}

/* main_text1 */
.main_text1{
    width: 100%;
    height: 659px;
    
}
.main_text1 > h1{
    padding-top: 50px;
    text-align: center;
    color: black;
}
.main_text1 .contents1{
    color: black;
    font-size: 17px;
    width: 800px;
    margin-left: 550px;
    margin-top: 30px;
}
.service{
    width: 1280px;
    display: flex;
    margin:49px auto;
    height: 427px;
}
.service > .contents2{
    color: black;
    padding: 20px;
}
.service > .contents2 > h2 {
    margin-bottom: 27px;
}
.main_text2{
    width: 100%;
    height: 418px;
    background-image: url(/img/underBMW.jpg);
    background-size: cover; /*이미지를 화면에 맞게 근데사진이 반복되있음*/
    background-repeat: no-repeat; /*반복된걸 없애줌*/
    background-position: center; /*사진이 정중앙 잡힘*/
}
.main_text2 > ul{
    padding-top: 138px;
}
.main_text2 > ul > li{
    text-align: center;
    color: white;
}
.more2{
    width: 220px;
    height: 40px;
    line-height: 40px;
    margin: 16px auto;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.5s;
}
.more2:hover{
    color: rgb(197, 197, 197);
}

.main_text3{
    width: 100%;
    height: 418px;
    background-image: url(/img/underBMW2.jpg);
    background-size: cover; /*이미지를 화면에 맞게 근데사진이 반복되있음*/
    background-repeat: no-repeat; /*반복된걸 없애줌*/
    background-position: center; /*사진이 정중앙 잡힘*/
}
.main_text3 > ul{
    padding-top: 138px;
}
.main_text3 > ul > li{
    text-align: center;
    color: white;
}
.more3{
    width: 220px;
    height: 40px;
    line-height: 40px;
    margin: 16px auto;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.5s;
}
.more3:hover{
    color: rgb(197, 197, 197);
}

footer{
    display: flex;
    background-color: rgb(43, 43, 43);
    padding: 30px;
    text-align: center;
}
footer > .footermsg{
    display: block;
    margin: auto
}
footer > .footermsg > p{
    text-align: center;
    color: white;
    margin-top: 10px;
}
